.slidecontainer {
    width: 95%;
    border: 1px solid;
    background-color: rgb(123, 123, 123);
    position: absolute; 
    left: 0; 
    top: 25px;
}

#slider-range .ui-slider-handle {
    outline: 0;
    background: rgb(25, 20, 100);
    border-radius: 50%;
}

#slider-single .ui-slider-handle {
    outline: 0;
    background: rgb(25, 20, 100);
    border-radius: 50%;
}

#slider-value1 {
    position: absolute;
    top: 5px;
    width: 72px;
    /* background-color: rgb(183, 180, 220); */
}

#slider-value2 {
    position: absolute;
    top: 36px;
    width: 72px;
    /* background-color: rgb(183, 180, 220); */
}