label.btn.btn-secondary,
label.btn.btn-secondary:focus,
label.btn.btn-secondary:active,
label.btn.btn-secondary.active,
label.btn.btn-secondary.active:focus,
label.btn.btn-secondary.active:active {
    box-shadow: none !important;
}

.map {
    /* box-sizing: border-box; */
    margin-top: 20px;
    width: 700px;
    height: 500px;
    border: .5px solid #AEAEB2;
    background-color: rgba(249, 249, 249, 0.94);
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
}

body {
    font-family: Arial;
}

.text-description {
    clear: both;
    font-size: 14px;
    margin: 20px;
    height: 60px;
    padding: 10px 0;
}

.float-container {
    width: 1460px;
    /* border: 3px solid #fff; */
    padding: 0px;
}

.float-child-primary {
    width: 730px;
    height: 700;
    float: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.float-child-secondary {
    width: 730px;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 28px;
    font-weight: 700;
}


/* ------------------- Primary View ------------------- */
.control-panel-1 {
    width: 700px;
    height: 180px;
    padding: 20px;
    background-color: rgba(249, 249, 249, 0.94);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    /* display: inline-flex; */
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.slider-and-state-selector {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.slider {
    width: 330px;
    margin: 0px;
    height: 50px;
}
.state-selector {
    width: 330px;
    padding-left: 20px;
    /* margin: 20px; */
}

/* ------------------- Secondary View ------------------- */
.secondary {
    width: 700px;
    height: 700px;
    background-color: rgba(249, 249, 249, 0.94);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    position: relative;
}
